<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem id="mc_root"
            name="Medical Center"
            sequence="10"/>

            <!-- Appointment -->
            <menuitem id="mc_appointment_root"
                parent="mc_root"
                name="Appointments"/>
                <menuitem id="mc_appointment"
                    parent="mc_appointment_root"
                    action="action_mc_appointment"
                    name="Appointments"/>

            <!-- Patients -->
            <menuitem id="mc_patient_root"
                parent="mc_root"
                name="Patients"/>
                <menuitem id="mc_patient"
                    parent="mc_patient_root"
                    action="action_mc_patient"
                    name="Patients"/>

            <!-- Doctors -->
            <menuitem id="mc_doctor_root"
                parent="mc_root"
                name="Doctors"/>
                <menuitem id="mc_doctor"
                    parent="mc_doctor_root"
                    action="action_mc_doctor"
                    name="Doctors"/>

            <!-- Config -->
            <menuitem id="mc_config_root"
                parent="mc_root"
                name="Configuration"/>
                <menuitem id="mc_config_location_root"
                    parent="mc_config_root"
                    name="Locations"/>
                    <menuitem id="mc_config_location"
                        parent="mc_config_location_root"
                        action="action_mc_location"
                        name="Location"/>
                    <menuitem id="mc_config_location_type"
                        parent="mc_config_location_root"
                        action="action_mc_location_type"
                        name="Type"/>
                <menuitem id="mc_config_speciality"
                    parent="mc_config_root"
                    action="action_mc_speciality"
                    name="Specialities"/>
    </data>
</openerp>
